html {
    font-family: sans-serif;
    font-size: 16px;
    line-height:22px;
    /*background-color: #f7f7f7;*/
    color: black;
    margin-left: 4px;
    margin-right: 4px;
    text-align:center;
  }
h2 {
  text-align: center;
}

  header {
    width:100%;
    z-index: 999;
    position:fixed;
    display: table;
   text-align: center;

    /*background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 16px;
      backdrop-filter: blur(10px);*/
  }

  @media only screen and (max-width: 1200px) {
    header {
      position:relative;
      padding-top: 4px;
  
    }
  }

  .menu {
    display: inline-block;
    float: none;
    padding-left:12px;
    padding-right:12px;
    padding-bottom:2px;
  }
  
  a {
    color: #41963a;
    text-decoration: none;
  }
  
  a:hover {
      color: black;
      text-decoration: none;
  }
  
  .link-1 {
    color: Tomato;
    text-decoration: none;
  }
  
  .link-2 {
    color: #365AC9;
    text-decoration: none;
  }

  .link-3 {
    color: black;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
  }
 
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    padding-top:48px;
    overflow: hidden;
  }

  @media only screen and (max-width: 1200px) {
    main {
      grid-template-columns: 100%;
      gap: 0%;
      padding-top:24px;
    }
  }

  
  /* Set the columns to fill their container and scroll if needed */
  .column {
    flex: 1;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    padding-bottom: 24px;
  }

  @media only screen and (max-width: 1200px) {
    .column {
      overflow: hidden;
      height: 100%;
    }
  }
  footer {
    bottom: 0px;
    width:100%;
    position:fixed;
    margin-bottom: 4px;
  }
  
  @media only screen and (max-width: 1200px) {
    footer {
      position:relative;
      color: grey;
    }
  }